@pal-white: #FFFFFF;
@pal-gray: #CCCCCC;
@pal-blue: #20A0E9;
@pal-lite: #ECECEC;
@pal-black: #000000;

*{
  margin: 0;
  padding : 0;
}
html,body, .main-wrapper{
  background: @pal-lite;
  overflow: hidden;
  height:100%;
  position:relative;
}
.main-wrapper {
  visibility: hidden;
  z-index: 0;
}

.header{
  background: @pal-blue;
  color:@pal-white;
  .h1 {
    font-size:32px;
    font-weight: bold;
  }
  label{
    vertical-align: bottom;
  }
}

.main {
  border: 1px solid #cccccc;
  margin: 0px auto -150px auto;
  width: 60%;
  height: 480px;
  padding: 0px 22px;
  background: #ffffff;
  box-shadow: 1px 1px 3px #cccccc;;
  font-size: 0px;
  min-height: 100%;
  .messages {
    margin-top: 22px;
    border-bottom: 1px dashed #cccccc;
  }
  .author {
    margin-left: 10px;
  }
  .left, .right {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    height: 440px;
  }
  .left {
    width: 80%;
    overflow: scroll;
  }
  .right {
    width: 20%;
    border-left: 1px solid #ececec;
    .user-list {
      position: relative;
      width: 100%;
      margin-top: 10px;
      padding-left: 22px;
      .online {
        position: absolute;
        right: 0px;
      }
    }
  }
  .bottom {
    width: 100%;
    height: 100px;
    border-top: 1px solid #ececec;
    margin: 0px;
    padding: 22px 0px;
  }
  button{
    display: inline-block;
  }
  .draw-btton {
    width:3%;
    margin: 0;
    padding : 0;
    height: 100%;
  }
  .input-text {
    display: inline-block;
    width:77%;
    height: 100%;
    vertical-align: top;
    font-size:14px;
  }
  .send-button {
    width:18%;
    height:100%;
    cursor:pointer;
  }
  .messages {
    .name {
      font-size: 14px;
      margin-bottom: 10px;
    }
    .content {
      font-size:18px;
    }
    .date {
      color: #20A0E9;
    }
  }
}

.footer {
  width:100%;
  min-height: 50px;
  background: @pal-blue;
  position:fixed;
  margin-bottom: 0;
  bottom:0;
  .state {
    font-size:18px;
    color: @pal-white;
    text-indent: 36px;
    display: inline-block;
    width:75%;
  }
  button {
    background: #22afff;
    color: @pal-gray;
  }
}

.whiteboard{
  width:400px;
  height:340px;
  margin: 0 auto;
  position: absolute;
  .tool-box{
    height:32px;
    border: 1px solid @pal-blue;
    background : @pal-white;
    font-size:0;
    .color-box{
      width:100%;
      font-size:14px;
      line-height: 30px;
      ul,li{
        list-style:none;
      }
      li {
        width:30px;
        height:30px;
        border: 1px solid @pal-gray;
        cursor:pointer;
        display:inline-block;
      }
      .red-box{
        background: #FF0000;
        color: @pal-lite;
      }
      .green-box{
        background: #00FF00;
        color: @pal-lite;
      }
      .blue-box{
        background: @pal-blue;
        color: @pal-lite;
      }
      .white-box{
        background: @pal-white;
        color: @pal-gray;
      }
    }
  }

  .draw-canvas{
    position: relative;
    margin-top:2px;
    border:1px solid @pal-gray;
    background: @pal-white;
  }
}
.move-to-right{
  position: absolute;
  right: 0;
}

.loading-div{
  position: absolute;
  display:block;
  left: 50%;
  top: 50%;
  font-size:16px;
  z-index: 10;
  height: 100px;
  width: 100px;
  background : url("../images/loading.gif") no-repeat;
}
