<!DOCTYPE html>
<html ng-app="chatroom" ng-controller="chatCtrl">
<head lang="en">
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<script type="text/javascript" src="http://lib.sinaapp.com/js/angular.js/angular-1.2.19/angular.js"></script>
	<script type="text/javascript" src="main.js"></script>
	<link rel="stylesheet" type="text/css" href="styles/style.css"/>
</head>
<body>
<header class="header"><div class="h1">Welcome</div><div class="form"><label><span>Name</span><input type="text"/></label><label><span>Password</span><input type="password"/></label><button class="login">Login</button></div></header>
<div class="main">
	<div class="left">
		<div class="messages" ng-repeat="chat in chats">
			<p class="name"><span class="date">{{chat.date}}</span><span class="author">{{chat.author}}</span></p>
			<p class="content">{{chat.message}}</p>
		</div>
	</div>
	<div class="right"><p class="user-list" ng-repeat="user in users">{{user.name}}<span class="online">{{user.online}}</span></p></div>
	<div class="bottom">
		<textarea class="input-text" ng-model="inputMessage"></textarea>
		<button class="send-button" ng-click="send()">Send</button>
	</div>
</div>
<footer class="footer"><p class="state">Free to login, If your name is occupied, please input the password, otherwise input a new name and remember your password.</p></footer>
</body>
</html>
